@use '../abstracts/' as *;

* {
    @include font-inter();
    font-variation-settings: "wdth" 100;
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}
